body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfb8d3;
}

header {
    background-color: #d862be;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #d862be;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

.dev {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dev img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
